<%= title "#{@clutch.dame}'s Clutch, Clutched #{@clutch.date_clutched}" %>

<center>
<p>
  <strong>Dame:</strong>
  <%= "#{@clutch.dame_color} #{@clutch.dame}" %>
</p>

<p>
  <strong>Sire:</strong>
  <%= "#{@clutch.sire_color} #{@clutch.sire}" %>
</p>

<p>
  <strong>Date clutched:</strong>
  <%= @clutch.date_clutched %>
</p>

<p>
  <strong>Date hatched:</strong>
  <%= @clutch.date_hatched %>
</p>

  <% if @clutch.date_hatched < (Time.now - 1.day) %>
    <p>
      <strong>Clutch Theme:</strong>
      <%= @clutch.theme %>
    </p>
    
  <% elsif signed_in?%>
    <% if is_admin? || is_current_user?(@clutch.user) %>
      <p>
        <strong>Clutch Theme:</strong>
        <%= @clutch.theme %>
      </p>
    <% end %>
  <% end %>

</center>

<br>

<% @clutch.eggs.each do |egg| %>

  <h2>
    <%= egg.name %> 
    <% if signed_in? %>
      <% if is_admin? || is_current_user?(@clutch.user) %>
      <small>( <%= link_to 'Edit', edit_clutch_egg_path(@clutch, egg) %> | <%= link_to 'Delete', clutch_egg_path(@clutch, egg), method: :delete, data: { confirm: 'Are you sure?' } %> )</small>
      <% end %>
    <% end %>
  </h2>
  
  <p>  
    <strong>Description:</strong>
    <%= simple_format(egg.description) %>
  </p>
  
  <% if @clutch.date_hatched < (Time.now - 1.day) %>
    <%= render :partial => 'creature', :locals => {:egg => egg} %>
    
  <% elsif signed_in?%>
    <% if is_admin? || is_current_user?(@clutch.user) %>
      <%= render :partial => 'creature', :locals => {:egg => egg} %>
    <% end %>
  <% end %>
  
  <br><hr>
<% end %>

<center>
  <p>
    <% if signed_in? %>
      <% if is_admin? || is_current_user?(@clutch.user) %>

        |<%= link_to "Edit", edit_clutch_path(@clutch) %> |
        <%= link_to "Add an Egg", new_clutch_egg_path(@clutch) %>
      <% end %>
    <% end %>
    <% if @clutch.creature_type == "Dragon" %>
      |<%= link_to "Hatching Posts", clutch_posts_path(@clutch) %> 
    <% end %>
    |<%= link_to "Back to All Clutches", clutches_path %> |
  </p>
</center>