<%= form_for([@character, @dragon]) do |f| %>
  <% if @dragon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dragon.errors.count, "error") %> prohibited this dragon from being saved:</h2>

      <ul>
      <% @dragon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.select :color, ['Gold', 'Bronze', 'Silver', 'Brown', 'Blue', 'Green'] %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :wing %><br>
    <%= f.select :wing, ["Queen's Wing", "Weyrling Wing", "High Altitude Wing", "Mid Altitude Wing", "Low Altitude Wing"] %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.select :size, ['Extra-Small', 'Small', 'Medium-Small', 'Medium', 'Medium-Large', 'Large', 'Extra-Large'] %>
  </div>
  <div class="field">
    <%= f.label "Appearance" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :personality %><br>
    <%= f.text_area :personality %>
  </div>
  <div class="field">
    <%= f.label "Strength/Weaknesses" %><br>
    <%= f.text_area :abilities %>
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>