<p>Hi <%= @user.name %>, </p>

<p>We've received your new character <%= @character.name %>. We'll look over <%= @character.gender == 'Male' ? 'him' : 'her' %> and get back to you as soon as we can.</p>

<p>
  In the meantime, take a look at what's been going on on the lists:
</p>

<p>
  <%= link_to 'Exile Weyr', 'https://groups.google.com/forum/#!forum/exile-weyr'%>
</p>

<p>
  <%= link_to 'Exile Weyr OOC', 'https://groups.google.com/forum/#!forum/exile-weyr-ooc'%>
</p>

<p>
  Stay posted!
</p>

<p>
  ~ Exile BoD ~
</p>