<p>Hi <%= @user.name %>, </p>

<p><%= @character.name %> has been approved. You can begin to play with <%= @character.gender == 'Male' ? 'him' : 'her' %> as soon as you'd like.</p>

<p>
  Go to our lists here to start playing:
</p>

<p>
  <%= link_to 'Exile Weyr', 'https://groups.google.com/forum/#!forum/exile-weyr'%>
</p>

<p>
  <%= link_to 'Exile Weyr OOC', 'https://groups.google.com/forum/#!forum/exile-weyr-ooc'%>
</p>

<p>
  ~ Exile BoD ~
</p>