<% title @article.title %>

<% if @article.picture %>
<p>
  <center><%= image_tag @article.picture %></center>
</p>
<% end %>

<p>
  <%= simple_format(@article.body) %>
</p>
<% if signed_in? %>
  <% if is_admin? %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
<% end %>
<%= link_to 'Back to All Articles', articles_path %>