<%= form_for([@clutch, @egg]) do |f| %>
  <% if @egg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@egg.errors.count, "error") %> prohibited this egg from being saved:</h2>

      <ul>
      <% @egg.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Egg Description" %><br>
    <%= f.text_area :description %>
  </div>
  <% if @clutch.creature_type == "Dragon" %>
  <div class="field">
    <%= f.label(:creature_name, "Dragon Name") %><br>
    <%= f.text_field :creature_name %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label "Color" %><br>
    <%= f.select :creature_color, ['Gold', 'Bronze', 'Silver', 'Black', 'Brown', 'Blue', 'Green', 'Other'] %>
  </div>
  <div class="field">
    <%= f.label "Appearance" %><br>
    <%= f.text_area :creature_appearance %>
  </div>
  <div class="field">
    <%= f.label "Personality" %><br>
    <%= f.text_area :creature_personality %>
  </div>
  <div class="field">
    <%= f.label :inspiration %><br>
    <%= f.text_field :inspiration %>
  </div>
  <div class="field">
    <%= f.label "Impressed to" %><br>
    <%= f.collection_select(:character, Character.all, :name, :name, :include_blank => true)%>
    <%#= f.text_field :character %>
  </div>
  <% if @clutch.creature_type == "Dragon" %>
  <div class="field">
    <%= f.label(:post_id, "Assign to Hatching Post")%><br>
    <%= f.collection_select(:post_id, @clutch.posts, :id, :title, :include_blank => true) %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
