<% title "Editing Relationships" %>

<div class="relations">
  <table class="char_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Character Type</th>
        <th>Character Rank</th>
        <th>Relationship Type</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @relationships.each do |relationship| %>
        <tr>
          <td id="char_data"><%= link_to relationship.relative.name, relationship.relative %></td>
          <td id="char_data"><%= relationship.relative.age %></td>
          <td id="char_data"><%= relationship.relative.character_type %></td>
          <td id="char_data"><%= relationship.relative.rank %></td>
          <%= form_for([@character, relationship]) do |f| %>
            <td id="relationship_form">
              <%= f.text_field :relation_type %>
            </td>
            <td id="relationship_form">
              <%= f.submit %>
            </td>
          <% end %>
          <td id="relationship_form"><%= button_to 'Remove Relationship', character_relationship_path(@character, relationship), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<div>

<br><hr>

<%= link_to 'Back to Character Page', character_path(@character) %>

