
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form_wrapper">
    <div class="field">
      <%= f.label :name %> (Will not be displayed.)<br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :age %> (Will not be displayed.)<br>
      <%= f.text_field :age %>
    </div>
    <div class="field">
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :messenger %> (AIM, Trillian, etc...)<br>
      <%= f.text_field :messenger %>
    </div>
    
    <% if @user.new_record? %>
      <%= render :partial => "password", :locals => {:f => f} %>
    <% end %>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
