<p id="alert"><%= alert %></p>

<h2>Users</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Date Joined</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<div class="pending_approval">
  <h2>Characters Pending Approval</h2>

  <hr>

  <table class="char_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Character Type</th>
        <th>Craft</th>
        <th>Rank</th>
        <th>Dragon</th>
        <th>Color</th>
        <th>Last Updated</th>
        <th>Approve</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @characters.each do |character| %>
        <tr>
          <td id="char_data"><%= link_to character.name, character %></td>
          <td id="char_option"><%= link_to 'Edit', edit_character_path(character.name) %></td>
          <td id="char_data"><%= character.character_type %></td>
          <td id="char_data"><%= character.craft %></td>
          <td id="char_data"><%= character.rank %></td>
          <td id="char_data"><%= character.dragon.name if character.dragon %></td>
          <td id="char_data"><%= character.dragon.color if character.dragon %></td>
          <td id="char_data"><%= character.updated_at %></td>
          <td id="char_option"><%= link_to "Approve", approve_character_path(character.name) %></td>
          <td id="char_option"><%= link_to 'Delete', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<div>

<br><hr>