<%= title @user.username %>

<div id="user_data">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
    <br>
    <strong>Email:</strong>
    <%= @user.email %>
    <br>
    <strong>Messenger:</strong>
    <%= @user.messenger %>
    <br>
    <strong>Character(s):</strong>
    <%= @characters.count %>  
  </p>
</div>

<div class="my_characters">
  <h2>Listing <%= @user.username %>'s Characters</h2>

  <hr>

  <table class="char_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Character Type</th>
        <th>Craft</th>
        <th>Rank</th>
        <th>Dragon</th>
        <th>Color</th>
        <th>PC/NPC</th>
        <th>Status</th>
        <th>Active</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @characters.each do |character| %>
        <tr>
          <td id="char_data"><%= link_to character.name, character %></td>
          <td id="char_option"><%= link_to 'Edit', edit_character_path(character.name) %></td>
          <td id="char_data"><%= character.character_type %></td>
          <td id="char_data"><%= character.craft %></td>
          <td id="char_data"><%= character.rank %></td>
          <td id="char_data"><%= character.dragon.name if character.dragon %></td>
          <td id="char_data"><%= character.dragon.color if character.dragon %></td>
          <td id="char_data"><%= character.category %></td>
          <td id="char_data">
            <% if character.active %>
              <%= character.approved ? "Approved" : "Approval Pending" %>
            <% else %>
              <%= "Inactive" %>
            <% end %>
          </td>
          <td id="char_option"><%= link_to character.active ? "Set Inactive" : "Reactivate", set_status_path(character.name) %></td>
          <td id="char_option"><%= link_to 'Delete', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<div>

<br><hr>