<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>

<div id="user_data">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
    <br>
    <strong>Email:</strong>
    <%= @user.email %>
    <br>
    <strong>Character(s):</strong>
    <%= @characters.count %>  
  </p>
</div>

<div class="button_wrapper">
  <button> Show Characters </button>
</div>

<div class="character_list">

  <div class="button_wrapper">
    <button> Hide Characters </button>
  </div>
  <h2>Listing <%= @user.username %>'s Characters</h2>

  <hr><br>

  <table class="char_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Character Type</th>
        <th>Craft</th>
        <th>Rank</th>
        <th>Dragon</th>
        <th>Color</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @characters.each do |character| %>
        <tr>
          <td id="char_data"><%= link_to character.name, character %></td>
          <td id="char_data"><%= character.character_type %></td>
          <td id="char_data"><%= character.craft %></td>
          <td id="char_data"><%= character.rank %></td>
          <td id="char_data"><%= character.dragon.name if character.dragon %></td>
          <td id="char_data"><%= character.dragon.color if character.dragon %></td>
          <td id="char_option"><%= link_to 'Edit', edit_character_path(character.name) %></td>
          <td id="char_option"><%= link_to 'Delete', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<div>

<br><hr>
