<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <br>
  <strong>Username:</strong>
  <%= @user.username %>
  <br>
  <strong>Email:</strong>
  <%= @user.email %>
  
</p>

<% if is_current_user?(@user) %>
  <p> <%= current_user.username %> </p>
  <p>
    <%= link_to "Sign Out", signout_path, method: "delete" %>
  </p>
<% else %>
  <p>
    <%= link_to "Sign In", signin_path %>
  </p>
<% end %>