<% title(params[:character_type] ? "#{params[:character_type]} List" : "Characters List") %>

<p> Below is a list of all the <%= params[:character_type] ? params[:character_type].downcase.pluralize : "characters" %> in alphabetical order. </p>
<p>
  Click here to see lists by character type: 
  <%= link_to "All", :character_type => nil %>, 
  <%= link_to "Candidates", :character_type => "Candidate" %>, 
  <%= link_to "Crafters", :character_type => "Crafter" %>, 
  <%= link_to "Holders", :character_type => "Holder" %>, 
  <%= link_to "Riders", :character_type => "Dragonrider" %>,
  <%= link_to "Weyrlings", :character_type => "Weyrling" %>, 
  <%= link_to "Others", :character_type => "Other" %>
</p>

<p>
  Alternatively, click here to see the dragonrider wing list:
  <%= link_to "Wings", :character_type => "Wings" %>
</p>

<hr>

<% if params[:character_type] == "Dragonrider" %>
  <%= render "dragonriders" %>
<% elsif params[:character_type] == "Wings" %>
  <%= render "wings" %>
<% else %>
  <%= render "list" %>
<% end %>