<%= title "New Character" %>

<% if params[:preview_button]%>

<div id="preview_character">
  <%= render 'character' %>

  <button id="show_form">
    Continue Editing?
  </button>
</div>



<% end %>

<%= form_for(@character) do |f| %>
  <% if params[:preview_button] %>
    <div class='hidden_character_form'> 
      <%= render :partial => 'form', :locals => {:f => f} %>
    </div>
  <% else %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
    <%= f.submit "Preview", name: "preview_button" unless params[:preview_button] %>
    <span class='hidden_character_form'><%= f.submit "Preview", name: "preview_button" %></span>
  </div>
<% end %>

<%= link_to 'Back', characters_path %>
