<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
  <br>
  <strong>Name Pronounced:</strong>
  <%= @character.pronunciation %>
  <br>
  <strong>Character Type:</strong>
  <%= @character.character_type %>
  <br>
  <strong>Rank:</strong>
  <%= @character.rank %>
  <br>
  <strong>Age:</strong>
  <%= @character.age %>
  <br>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<p>
  <strong>Appearance:</strong>
  <%= simple_format(@character.description) %>
</p>

<p>
  <strong>Personality:</strong>
  <%= simple_format(@character.personality) %>
</p>

<p>
  <strong>History:</strong>
  <%= simple_format(@character.history) %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
