
<%= title @character.name %>

<p>
  <center>
    <strong>User:</strong>
    <%= link_to @character.user.username, user_path(@character.user.username) %>
  </center>
  <strong>Name Pronounced:</strong>
  <%= @character.pronunciation %>
  <br>
  <strong>Character Type:</strong>
  <%= @character.character_type %>
  <br>
  <strong>Rank:</strong>
  <%= @character.rank %>
  <br>
  <strong>Age:</strong>
  <%= @character.age %>
  <br>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<p>
  <strong>Appearance:</strong>
  <%= simple_format(@character.description) %>
</p>

<p>
  <strong>Personality:</strong>
  <%= simple_format(@character.personality) %>
</p>

<p>
  <strong>History:</strong>
  <%= simple_format(@character.history) %>
</p>






<% if @character.dragon %>
  <hr>
  <p>
    Information about <%= @character.name %>'s dragon:
  </p>
  
  <p>
    <strong>Name:</strong>
    <%= @character.dragon.name %> (
    <%= link_to 'Edit', edit_character_dragon_path(@character.name, @character.dragon) %> |
    <%= link_to 'Delete', character_dragon_path(@character.name, @character.dragon), method: :delete, data: { confirm: 'Are you sure?' } %> )
    <br>
    <strong>Color:</strong>
    <%= @character.dragon.color %>
    <br>
    <strong>Age:</strong>
    <%= @character.dragon.age %>
  </p>
  
  <p>
    <strong>Appearance:</strong>
    <%= simple_format(@character.dragon.description) %>
  </p>

  <p>
    <strong>Personality:</strong>
    <%= simple_format(@character.dragon.personality) %>
  </p>
<% end %>


<% if @character.pets.count > 0 %>
  <hr>
  <p>
    Information about <%= @character.name %>'s <%= pluralize(@character.pets.count, "pet")%>:
  </p>
<% end %>

<% @character.pets.each do |pet| %>

  <p>
    <strong>Name:</strong>
    <%= pet.name %> ( 
    <%= link_to 'Edit', edit_character_pet_path(@character.name, pet) %> |
    <%= link_to 'Delete', character_pet_path(@character.name, pet), method: :delete, data: { confirm: 'Are you sure?' } %> )
    <br>
    <strong>Type:</strong>
    <%= pet.pet_type %>
  </p>
  
  <p>
    <strong>Appearance:</strong>
    <%= simple_format(pet.description) %>
  </p>

  <p>
    <strong>Personality:</strong>
    <%= simple_format(pet.personality) %>
  </p>

<% end %>

<hr>

<center>
  <p>
    |<%= link_to 'Edit Character', edit_character_path(@character.name) %> |
    <% unless @character.dragon %>
      <%= link_to 'Add Dragon', new_character_dragon_path(@character.name) %> | 
    <% end %>
  
    <%= link_to 'Add Pet', new_character_pet_path(@character.name) %> | 
    <%= link_to 'Back to All Characters', characters_path %> |
  </p>
</center>
