
<%= title @character.name %>

<%= render 'character'%>

<% if @character.relationships.count > 0 %>
  <hr>
  <p>
    Listing <%= @character.name %>'s relationships:
  </p>
  <ul>
    <% @character.relationships.group_by(&:relation_type).each do |relation_type, relationships| %>
      <li>
        <strong><%= relation_type %>: </strong>
        <%= map_relationships(relationships) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @character.dragon %>
  <hr>
  <p>
    <strong>Information about <%= @character.name %>'s dragon</strong>
  </p>
  
  <p>
    <strong>Name:</strong>
    <%= @character.dragon.name %>
    <% if signed_in? %> 
      <% if is_admin? || is_current_user?(@character.user) %>
        ( <%= link_to 'Edit', edit_character_dragon_path(@character.name, @character.dragon) %> |
        <%= link_to 'Delete', character_dragon_path(@character.name, @character.dragon), method: :delete, data: { confirm: 'Are you sure?' } %> )
      <% end %>
    <% end %>
    <br>
    <strong>Color:</strong>
    <%= @character.dragon.color %>
    <br>
    <strong>Age:</strong>
    <%= @character.dragon.age %>
    <br>
    <strong>Size:</strong>
    <%= @character.dragon.size %>
    <% if @character.dragon.wing %>
      <br>
      <strong>Wing:</strong>
      <%= @character.dragon.wing %>
    <% end %>
  </p>
  
  <p>
    <strong>Appearance:</strong>
    <%= simple_format(@character.dragon.description) %>
  </p>

  <p>
    <strong>Personality:</strong>
    <%= simple_format(@character.dragon.personality) %>
  </p>

  <p>
    <strong>Strength/Weaknesses:</strong>
    <%= simple_format(@character.dragon.abilities) %>
  </p>
<% end %>


<% if @character.pets.count > 0 %>
  <hr>
  <p>
    <strong>Information about <%= @character.name %>'s <%= pluralize(@character.pets.count, "pet")%></strong>
  </p>
<% end %>

<% @character.pets.each do |pet| %>

  <p>
    <strong>Name:</strong>
    <%= pet.name %> 
    <% if signed_in? %>
      <% if is_admin? || is_current_user?(@character.user) %>
      ( <%= link_to 'Edit', edit_character_pet_path(@character.name, pet) %> |
      <%= link_to 'Delete', character_pet_path(@character.name, pet), method: :delete, data: { confirm: 'Are you sure?' } %> )
      <% end %>
    <% end %>
    <br>
    <strong>Type:</strong>
    <%= pet.pet_type %>
  </p>
  
  <p>
    <strong>Appearance:</strong>
    <%= simple_format(pet.description) %>
  </p>

  <p>
    <strong>Personality:</strong>
    <%= simple_format(pet.personality) %>
  </p>

<% end %>

<hr>
<center>
  <p>
    <% if signed_in? %>
      <% if is_admin? || is_current_user?(@character.user) %>

        |<%= link_to 'Edit Character', edit_character_path(@character.name) %> |
        <%= link_to 'Add Relationships', new_character_relationship_path(@character.name) %> |
        <%= link_to 'Edit Relationships', edit_character_relationships_path(@character.name)%> |
        <% unless @character.dragon %>
          <%= link_to 'Add Dragon', new_character_dragon_path(@character.name) %> | 
        <% end %>

        <%= link_to 'Add Pet', new_character_pet_path(@character.name) %> | 
        <%= link_to 'Upload Picture', upload_picture_path(@character)%>
      
      <% end %>
    <% end %>
    |<%= link_to 'Back to All Characters', characters_path %> |
    <%= link_to "See more of #{@character.user.username}'s characters", user_path(@character.user) %> |
  </p>
</center>
