<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
  <br>
  <strong>Name Pronounced:</strong>
  <%= @character.pronunciation %>
  <br>
  <strong>Character Type:</strong>
  <%= @character.character_type %>
  <br>
  <strong>Rank:</strong>
  <%= @character.rank %>
  <br>
  <strong>Age:</strong>
  <%= @character.age %>
  <br>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<p>
  <strong>Appearance:</strong>
  <%= simple_format(@character.description) %>
</p>

<p>
  <strong>Personality:</strong>
  <%= simple_format(@character.personality) %>
</p>

<p>
  <strong>History:</strong>
  <%= simple_format(@character.history) %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>

<hr>

<% if @character.dragon %>
  <p>
    Information about <%= @character.name %>'s dragon
  </p>
  
  <p>
    <strong>Name:</strong>
    <%= @character.dragon.name %>
    <br>
    <strong>Color:</strong>
    <%= @character.dragon.color %>
    <br>
    <strong>Age:</strong>
    <%= @character.dragon.age %>
  </p>
  
  <p>
    <strong>Appearance:</strong>
    <%= simple_format(@character.dragon.description) %>
  </p>

  <p>
    <strong>Personality:</strong>
    <%= simple_format(@character.dragon.personality) %>
  </p>
  <p>
    <%= link_to 'Edit Dragon', edit_character_dragon_path(@character, @character.dragon) %> |
    <%= link_to 'Destroy Dragon', character_dragon_path(@character, @character.dragon), method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', characters_path %>
  </p>
<% else %>
  <p>
    <%= link_to 'Add Dragon', new_character_dragon_path(@character) %>
  </p>
<% end %>

<hr>

<% if @character.pets %>
  <p>
    Information about <%= @character.name %>'s pet(s)
  </p>
<% end %>

<% @character.pets.each do |pet| %>
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
    <br>
    <strong>Type:</strong>
    <%= pet.pet_type %>
  </p>
  
  <p>
    <strong>Appearance:</strong>
    <%= simple_format(pet.description) %>
  </p>

  <p>
    <strong>Personality:</strong>
    <%= simple_format(pet.personality) %>
  </p>
  
  <p>
    <%= link_to 'Edit Pet', edit_character_pet_path(@character, pet) %> |
    <%= link_to 'Destroy Pet', character_pet_path(@character, pet), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>

<% end %>

<p>
  <%= link_to 'Add Pet', new_character_pet_path(@character) %> |
  <%= link_to 'Back', characters_path %>
</p>
