<% title "Character Search" %>

<p>
Enter a character, dragon, or pet name in the box below. If you cannot remember the whole name then don't worry, just put in part of the name and all results will be displayed. Alternatively, leave the box blank and press submit to receive a full list of characters.  
</p>

<%= form_tag searches_path, method: :get do %>
  <p>
    <%= text_field_tag :search %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>


<h2>Search Results</h2>

<% if params[:search] %>
  <table class="char_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Character Type</th>
        <th>Craft</th>
        <th>Rank</th>
        <th>Dragon</th>
        <th>Color</th>
        <th>Owner</th>
      </tr>
    </thead>

    <tbody>
      <% @characters.each do |character| %>
        <tr>
          <td class="char_data", id="name"><%= link_to character.name, character %></td>
          <td class="char_data", id="gender"><%= character.gender %></td>
          <td class="char_data", id="type"><%= link_to character.character_type, character_type_path(character.character_type) %></td>
          <td class="char_data", id="craft"><%= character.craft %></td>
          <td class="char_data", id="rank"><%= character.rank %></td>
          <td class="char_data", id="dragon_name"><%= character.dragon.name if character.dragon %></td>
          <td class="char_data", id="dragon_color"><%= character.dragon.color if character.dragon %></td>
          <td class="char_data", id="user"><%= link_to character.user.username, user_path(character.user.username) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <hr>
<% end %>