<!DOCTYPE html>
<html>
<head>
  <title>My Big Character Collection</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="headline">
  <h1>Welcome to My Character Collection!</h1>
</div>

<div class="top_menu"> |
  <% if signed_in? %>
    <% if is_admin? %>
      <%= link_to "Admin Area", users_path %> |
    <% end %>
    <%= link_to "View My Characters", user_path(current_user.username) %> |
    <%= link_to "Create a New Character", new_character_path %> |
    <%= link_to "Account Settings", edit_user_path(current_user.username) %> |
    <%= link_to "Sign Out", signout_path, method: "delete" %> |
  <% else %>
    <%= link_to "Sign In", signin_path %> |
    <%= link_to "Sign Up For a New Account", new_user_path %> |
  <% end %> 
  
</div>

<table id="general_layout">
  <tbody>
    <tr>
      <td class="side_menu">
        <div>
          <p>
            <%= link_to "All Characters", characters_path %>
          </p>
          <p>
            <%= link_to "Candidates", character_type_path("Candidate") %>
          </p>
          <p>
            <%= link_to "Crafters", character_type_path("Crafter") %>
          </p>
          <p>
            <%= link_to "Dragonriders", character_type_path("Dragonrider") %>
          </p>
          <p>
            <%= link_to "Holders", character_type_path("Holder") %>
          </p>
          <p>
            <%= link_to "New Characters", recent_characters_path %>
          </p>
          <p>
            <%= link_to "Recently Updated", updated_characters_path %>
          </p>
        </div>
      </td>
      <td class="stuff">
        <%= yield %>
      </td>
    </tr>
  <tbody>
</table>
</body>
</html>
