<!DOCTYPE html>
<html>
<head>
  <title>Exile Weyr - <%= yield(:title) || "Welcome"  %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="headline">
  <%= link_to image_tag("https://s3.amazonaws.com/exile-weyr-images/ExileWeyrLogo.png"), root_path %>
</div>

<div class="top_menu"> |
  <% if signed_in? %>
    <% if is_admin? %>
      <%= link_to "Admin Area", users_path %> |
    <% end %>
    <%= link_to "View My Characters", user_path(current_user.username) %> |
    <%= link_to "Create a New Character", new_character_path %> |
    <%= link_to "Account Settings", edit_user_path(current_user.username) %> |
    <%= link_to "Sign Out", signout_path, method: "delete" %> |
  <% else %>
    <%= link_to "Sign In", signin_path %> |
    <%= link_to "Sign Up For a New Account", new_user_path %> |
  <% end %> 
  
</div>

<table id="general_layout">
  <tbody>
    <tr>
      <td class="side_menu">
        <div>
          <p>
            <%= link_to "About Exile Weyr", article_path("about-exile-weyr") %>
          </p>
          <p>
            <%= link_to "Rules", article_path("rules") %>
          </p>
          <p>
            <%= link_to "Lore", article_path("guide-to-playing") %>
          </p>
          <p>
            <%= link_to "Writing Requirements", article_path("writing-requirements") %>
          </p>
          <p>
            <%= link_to "FAQ", article_path("faq") %>
          </p>
          <p>
            <%= link_to "Join Us!", article_path("how-to-join") %>
          </p>
          <p>
            <%= link_to "All Articles", articles_path %>
          </p>
          <p>
            <%= link_to "Hatching Sands", clutches_path %>
          </p>
          <p>
            <%= link_to "Characters", characters_path %>
          </p>
          <p>
            <%= link_to "Characters Search", searches_path %>
          </p>
          <p>
            <%= link_to "Recently Created", recent_characters_path %>
          </p>
          <p>
            <%= link_to "Recently Updated", updated_characters_path %>
          </p>
          
        </div>
      </td>
      <td class="stuff">
        <p id="alert"><%= alert %></p>
        <p id="notice"><%= notice %></p>
        
        <h2><%= yield :title %></h2>
        
        <%= yield %>
        <br><br><br>
        <div id="footnote">
          All references to the worlds, characters and works of Anne McCaffery and/or Todd McCaffery are copyrighted and belong to their authors. Exile, nor it's BoD own any part of Pern or any character featured in the books. The Dragonriders of Pern (R) is a registered U.S. Patent and Trade Office by Anne McCaffery.
        </div>
      </td>
    </tr>
  <tbody>
</table>

</body>
</html>
